<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Images bazaar</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	<style>
		#aa
		{
		background-repeat:no-repeat;
		background-attachment:fixed;
        background-image: url('{% static 'images/pic.jpg' %}');
		background-size:2000px 899px;
		}
		#bb
		{
		color:yellow;
		margin-left:412px;
		margin-top:16px;
		font-size:70px;
		}
		#dd
		{
		margin-left:560px;
		margin-top:70px;
		font-size:26px;
		background-color:yellow;
		border-color:orange;
		}
	</style>
</head>
<body id='aa'>
                       <h1 id="bb"><b>Image Uploader</b></h1>
						<br>
                     <br>
					   <button type="button"  id="dd"><a href="login" >LogIn</a></button>
					<br>
					   <button type="button"  id="dd"><a href="signup">SignUp</a></button>
</body>
</html>